{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name pages.util, :imports nil, :requires nil, :uses nil, :defs {foo {:protocol-inline nil, :meta {:file "/Users/pretzel/code/mirror/example/pages/util.cljc", :line 3, :column 7, :end-line 3, :end-column 10, :arglists (quote ([]))}, :name pages.util/foo, :variadic false, :file "/Users/pretzel/code/mirror/example/pages/util.cljc", :end-column 10, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 3, :end-line 3, :max-fixed-arity 0, :fn-var true, :arglists (quote ([]))}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:h1}, :order [:h1]}, :doc nil}